<nav class="navbar navbar-light bg-primary ">
    <a class="navbar-brand" href="/">
    <img src="/img/bdr-perguntas.png" id="img-topo" >
    </a>

     <div class="dropdown text-end " id="usuario">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/img/sem-imagem-avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small small " aria-labelledby="dropdownUser1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 34px);" data-popper-placement="bottom-start">
      <li><a class="dropdown-item" href="./perguntar/">Perguntas</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sair</a></li>
    </ul>
    
  </div>
  </nav>
  
  