@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;600&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:  'Roboto', sans-serif;
}
#formulario-pergunta{
    margin-top: 8vh;
}
#img-topo{
    margin-left: 20px;
    width: 70px;
    height:42px;
}
.card-reader{
    margin-top: 7px;
    margin-left: 7px;
    
}
#usuario{
    margin-right: 18vh;
}
.card-footer{
    margin-top: 5px;
}
.card{
    margin-top: 2px;
    margin-bottom:15px;
}

.container{
    padding-top: 20px;
    padding-bottom: 70px;
}
#btn-perguntar{
    margin-bottom: 20px;
    margin-left: 3px;
}
.loader {
    
    align-items: center;
    
    opacity: 0;
    display: flex;
    justify-content: center;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
  }
  
  .loader.show {
    opacity: 1;
  }
  
  .circle {
    background-color: #162dffd2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
  }
  
  .circle:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  
  .circle:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }